#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-row {
  display: flex;
}

.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 4rem;
  margin: 0.25rem;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 2rem;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  display: flex;
}

.keyboard-button {
  padding: 1rem;
  margin: 0.25rem;
  border: 1px solid gray;
  border-radius: 8px;
  background: none;
}
